<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">{#  #}</meta>
		<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css' />
		{% assets filters="clevercss", output="gen/style.css", "ccss/base.ccss", "ccss/style.ccss" %}
			<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" media="all" />
		{% endassets %}

		<link type="text/css" rel="stylesheet" href="http://jplusplus.org/css/style.css" media="all" />
		<link type="text/css" rel="stylesheet" href="http://jplusplus.org/css/birthday-2012.css" media="all" />

		<script type="text/javascript" src="{{url_for('static', filename='js/jquery200.js')}}">{# #}</script>
	</head>

	<body class="use-base">

		<div class="container">
			<header class="top20">
				<div class="row">
					<div class="span7">
						<div class="logo">
							<div class="left50 pull-left right30">
								<img class="force-visible" src="{{url_for('static', filename='images/logo.png')}}">
							</div>
							<h1>
								<a href="/">
									Journalism++
								</a><br />
								<small>Data-driven stories</small>
							</h1>
						</div>
					</div>
				</div>
			</header>
		</div>

		<div class="container">
			<div class="left50 top20">
        		<a href="/">← Back to the homepage!</a>
        	</div>
		</div>

		{% block content %}{% endblock %}

		<footer class="container">
			<hr class="soften"/>
				<div class="row tc">
					<strong>Journalism++ </strong>&nbsp;|&nbsp;<a href="https://www.facebook.com/journalismplusplus" target="_blank">Facebook </a>&nbsp;|&nbsp;<a href="https://twitter.com/jplusplus_" target="_blank">Twitter </a>&nbsp;|&nbsp;<a href="https://github.com/jplusplus/" target="_blank">Github</a>
				</div>
		</footer>

		{% assets output="gen/vendors.js", "js/d3.js", "js/topojson.js", "js/queue.js", "js/raf.js" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

		{% assets filters="coffeescript", output="gen/scripts.js", "coffee/widget.coffee", "coffee/network.coffee" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

	</body>
</html>
