<!DOCTYPE html>
<html lang="en">

<!--
 _  _   __   ___  ___  _  _    ___  __  ___  ____  _  _  ___   __   _  _
( )( ) (  ) (  ,\(  ,\( \/ )  (  ,)(  )(  ,)(_  _)( )( )(   \ (  ) ( \/ )
 )__(  /__\  ) _/ ) _/ \  /    ) ,\ )(  )  \  )(   )__(  ) ) )/__\  \  /
(_)(_)(_)(_)(_)  (_)  (__/    (___/(__)(_)\_)(__) (_)(_)(___/(_)(_)(__/

                                    _       _
                          _+      _| |_   _| |_
                       U |"| u   |_   _| |_   _|
                      _ \| |/      |_|     |_|
                     | |_| |
                      \___/





    ... And that's also my own birthday, so don't forget to remember !

                                                               @vied12


 -->

	<head>
		<meta charset="utf-8">{#  #}</meta>
		{% assets filters="clevercss", output="gen/style.css", "ccss/base.ccss", "ccss/style.ccss" %}
			<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" media="all" />
		{% endassets %}

		<link type="text/css" rel="stylesheet" href="http://jplusplus.org/css/style.css" media="all" />
		<link type="text/css" rel="stylesheet" href="http://jplusplus.org/css/birthday-2012.css" media="all" />

		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<link href="/img/favicon.png" type="image/png" rel="icon">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="http://jplusplus.org/img/jpp.png" property="og:image">
		<meta content="http://jplusplus.org/img/jpp-orange.png" property="og:image">
		<meta content="http://jplusplus.org/img/jppnet_hd.jpg" property="og:image">
		<meta content="http://jplusplus.org/img/jppnet_hd_red.jpg" property="og:image">
		<meta content="http://jplusplus.org" property="og:url'">
		<meta content="Journaslim++" property="og:title'">
		<meta content="Journalism++ est un réseau de journalistes de données qui développent des récits à partir de données." property="og:description'" name="description">

		<script type="text/javascript" src="{{url_for('static', filename='js/jquery200.js')}}">{# #}</script>
		<title>Journalism++</title>
	</head>

	<body class="use-base">

		<div class="container">
			<header class="top20">
				<div class="row">
					<div class="span7">
						<div class="logo">
							<div class="left50 pull-left right30">
								<img class="force-visible" src="{{url_for('static', filename='images/logo.png')}}">
							</div>
							<h1>
								<a href="/">
									Journalism++
								</a><br />
								<small>Data-driven stories</small>
							</h1>
						</div>
					</div>
				</div>
			</header>
		</div>

		<div class="container">
			<div class="left50 top20">
        		<a href="/">← Back to the homepage!</a>
        	</div>
		</div>

		{% block content %}{% endblock %}

		<footer class="container">
			<hr class="soften"/>
				<div class="row tc">
					<strong>Journalism++ </strong>&nbsp;|&nbsp;<a href="https://www.facebook.com/journalismplusplus" target="_blank">Facebook </a>&nbsp;|&nbsp;<a href="https://twitter.com/jplusplus_" target="_blank">Twitter </a>&nbsp;|&nbsp;<a href="https://github.com/jplusplus/" target="_blank">Github</a>
				</div>
		</footer>

		{% assets output="gen/vendors.js", "js/d3.js", "js/topojson.js", "js/queue.js", "js/raf.js", "js/jquery.preload.js" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

		{% assets filters="coffeescript", output="gen/scripts.js", "coffee/widget.coffee", "coffee/network.coffee" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

	</body>
</html>
