{% extends 'base.html' %}
{% block content %}
	<div id="main">
		<div data-widget="network.Page" class="Page widget">
			<div data-widget="network.Map" class="Map widget primary">
				<div class="Panel hidden">
					<div class="wrapper">
						<div class="icone">
							<img />
						</div>
						<h2 class="title">{#title#}</h2>
						<p class="description">{#description#}</p>
						<p class="link">{#link#}</p>
						<!-- <div class="github hidden">
							<img src="static/images/github.png" />
							followers: <span data-field="followers"></span>&nbsp;&nbsp;repos: <span data-field="repos"></span>
						</div> -->
					</div>
				</div>
				<div class="legend">
					<div class="l do" data-action="eventclick"><div class="circle event"></div><span>Event</span></div>
					<div class="l do" data-action="personclick"><div class="circle person"></div><span>Person</span></div>
					<div class="l do" data-action="companyclick"><div class="circle company"></div><span>Company</span></div>
				</div>
			</div>
			<div class="Title container">
				<div class="left30 top30 tc">
					<h1>Celebrating 2 years of Journalism++</h1>
					<p>On December 13<sup>th</sup>, 2013, Journalism++ turns 2! In the last 12 months, we shared our brand with 3 other companies in <a href="http://jplusplus.se/">Stockholm</a>, <a href="http://amsterdam.jplusplus.org/">Amsterdam</a> and <a href="http://cologne.jplusplus.org/">Cologne</a>. Together, we form the best datajournalism network in Europe and beyond. </p>
					<p>We released several open-source tools for journalists, like our <a href="http://benford.jplusplus.org/">Benford's Law checker</a>, <a href="http://spendingstories.org/">Spending Stories</a>, <a href="http://brokenpromises.jplusplus.org/">Broken Promises</a> and <a href="http://detective.io/">Detective.io</a>. ABZV's <a href="http://datawrapper.de/">Datawrapper</a>, to which we contribute, saw its usage double.</p> 
					<p>We remained committed to hard-hitting journalism, contributing to investigations on <a href="http://www.liberation.fr/economie/2013/11/27/en-afrique-le-business-du-soleil-se-charge-des-portables_962164">innovators in developing countries</a>, <a href="http://www.desdonneespourlautisme.fr/">autistic kids</a>, <a href="https://github.com/jplusplus/wikileaks-secret-tpp-agreement">the TPP</a> or <a href="http://search.wikileaks.org/plusd/graph">US diplomacy</a>.</p>
					<p>We spread the word about datajournalism and helped many get to grips with Excel, OpenRefine and Javascript. From France's journalism schools to Belgrade to Lilongwe to Kathmandu, we moved more in 2013 than at any other time in our lives.</p>
					<p>Our most sincere thanks to all our clients, partners and friends. You're the ones who made it possible.</p>
					<p>Stay tuned and watch our Github repositories for upcoming goodness, for 2014 will be even better!</p></div>
			</div>
		</div>
	</div>

{% endblock %}
